html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TESTIMONIALS Section Start */
.testimonial {
  padding: 30px 0px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.wrapper .box i.quote {
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name {
  font-weight: 600;
  font-size: 17px;
}
.box .info .job {
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars {
  margin-top: 2px;
}
.box .info .stars i {
  color: #17a2b8;
}
.box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img {
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }

  .cart-main {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}

@media (max-width: 702px) {
  .wrapper .box {
    width: 100%;
  }

  .cart-main {
    width: 100%;
  }

  .cart {
    margin: 1rem;
  }
}

/* TESTIMONIALS Section End */

/* FAQ Section start */

.faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0px;
}

.faqs-container {
  overflow: hidden;
}
.faq-singular {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 0 30px 0 20px;
}

.faq-singular p {
  font-size: 20px;
}

.faq-singular:hover,
.faq-singular.active {
  background: #f2f2f2;
  background-image: linear-gradient(
    90deg,
    #335548 0%,
    #335548 8px,
    transparent 8px,
    transparent 100%
  );
}
.faq-singular .faq-question {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 25px 25px 25px 0px;
  font-weight: 700;
  font-size: 24px;
}
.faq-singular .faq-question:before {
  position: absolute;
  content: '+';
  color: #808080;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  font-weight: 700;
  transition: all 0.5s;
}
.faq-singular.active .faq-question:before {
  transform: translateY(-50%) rotate(45deg) scale(1.3);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  display: none;
  padding-bottom: 20px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.faq-answer-show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

/* FAQ Section End */

/* PRICING SECTION START */

.heading-primary {
  font-size: 2rem;
  text-align: center;
  margin: 50px 0;
}

.plan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plan-section .plan {
  width: 300px;
  height: 370px;
  text-align: center;
  padding: 30px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0.6rem 1.6rem #b3b5c6;
}

.plan-section .plan .plan-price {
  font-size: 4rem;
}

.plan-section .plan .dollar {
  font-size: 2rem;
  font-weight: 400;
  vertical-align: middle;
}

.plan-section .plan .plan-features .plan-item {
  padding: 15px 0;
  border-bottom: 1px solid #b3b5c6;
}

.plan-section .plan .btn {
  display: block;
  background-color: #696fdd;
  padding: 10px;
  margin-top: 20px;
  color: #f6f6fe;
  border-radius: 5px;
}

.plan-section .plan .btn:hover {
  background-color: #f6f6fe;
  color: #494c5f;
  border: 1px solid #696fdd;
  font-weight: 900;
}

.plan-section .plan .btn-blue {
  background-color: #f6f6fe;
  color: #696fdd;
}

.plan-section .plan .btn-blue:hover {
  background-color: #696fdd;
  color: #f6f6fe;
  border: 1px solid #f6f6fe;
}

.plan-section .basic {
  background-color: #f6f6f6;
}

.plan-section .pro {
  background-color: #696fdd;
  color: #f6f6fe;
  height: 400px;
}

.plan-section .master {
  background-color: #f6f6f6;
}

/* PRICING SECTION END */
